*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #000000;
}

/*Header Section*/
header img{
    width: 5vw;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    background-color: #000000;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 1.2vw;
    color: #fff;
    text-decoration: none;
}

.nav-links li a:hover{
    color: #25b5e5;
}

button{
    font-weight: 500;
    font-size: 1vw;
    color: #fff;
    text-decoration: none;
    padding: 9px 25px;
    background-color: #E51937;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #fff;
    color: #000000;
}


/*Featured Movies Section*/
#top-title{
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 20px 20px;
}

#featured-movies{
    color: #fff;
    font-size: 2.2vw;
    font-weight: bold;
}

#now-playing{
    color: #fff;
    font-size: 1.3vw;
    font-weight: bold;
}

#now-playing:hover{
    color: #25b5e5;
}

#top-line{
    border-top: 1px solid #171717;
    margin-right: 5%;
    margin-left: 5%;
}

/*Now Playing Section*/
.movie-lists{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 1.6vw;
    padding: 0 3vw;
}

.movie-contents img{
    width: 16vw;
    margin-top: 50px;
}

.movie-contents{
    color: #fff;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 3px;
}

.movie-contents span::after{
    content: "\A";
    white-space: pre;
}

.movie-contents{
    line-height: 1.5rem;
}

.movie-contents p {
    margin-top: 15px;
}

.get-tickets button{
    margin-top: 10px;
}

.movie-title{
    font-weight: bolder;
    font-size: 1.1vw;
}

.movie-info{
    margin-top: 0;
    font-size: 0.9vw;
    font-weight: bold;
    color: grey;
}

/*Icons Section*/
#line-icon{
    margin-top: 100px;
}

#icon-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    
}

#icon-section ul li a{
    color: #fff;
    text-align: center;
    border-style: solid;
    padding: 8px 10px;
    border-color: #fff;
    border-radius: 50%;
    font-size: 2vw;
}

#icon-section ul li a:hover{
    color: #25b5e5;
    border-color: #25b5e5;
}

#icon-section ul li{
    display: inline-block;
    padding: 0px 20px;
}

/*Subscribe Form*/
#email-form {
    text-align: center;
    margin: 20px;
}

#email-form input {
    border: 2px solid grey;
    border-radius: 20px;
    display: inline;
    font-size: 18px;
    padding: 15px;
    width: 330px;
    height: 50px;
}

#sub-button {
    font-size: 18px;
    height: 50px;
}

/*Footer Section*/
.grid-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #171717;
}

.grid-footer ul li{
    display: flex;
    padding-bottom: 10px;
}

.grid-footer ul li a{
    font-size: 1vw;
}

.grid-footer h2{
    color: #fff;
    font-size: 2vw;
    margin-left: 20px;
    padding-bottom: 10px;
}

/*Footer bottom*/
hr.line {
    border-top: 1px solid #171717;
}

.footer-bottom{
    display: flex;
    justify-content: space-around;
    
    padding-top: 20px;
    background-color: #171717;
}

.footer-bottom img{
    width: 70px;
    align-items: center;
}

.footer-bottom span{
    color: #fff;
    text-align: center;
    align-self: center;
    font-size: 1vw;
}

.footer-bottom a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    align-self: center;
    font-size: 1vw;
}

.footer-bottom a:hover{
    color: #25b5e5;
}

#last-sentence{
    color: #fff;
    text-align: center;
    padding: 20px 0;
    background-color: #171717;
    font-size: 0.8vw;
}

/*Media Section*/
@media (max-width: 768px) {
    #featured-movies{
        margin-top: 30px;
        font-size: 35px;
    }
    
    #now-playing{
        margin-top: 30px;
        font-size: 30px;
    }

    .movie-lists {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .movie-contents img{
        width: 100%;
        margin-top: 50px;
    }

    .movie-contents{
        line-height: 70px;
    }

    .movie-contents p {
        margin-top: 50px;
    }

    .movie-title{
        font-size: 55px;
    }

    .movie-info{
        font-size: 40px;
    }

    .get-tickets button{
        font-size: 30px;
        padding: 20px 30px;
    }

    #icon-section ul li a{
        display: grid;
        color: #fff;
        text-align: center;
        padding: 8px 10px;
        border: none;
        font-size: 50px;
    }

    #email-form input {
        border: 2px solid grey;
        border-radius: 50px;
        font-size: 20px;
        width: 300px;
        height: 40px;
    }

    #sub-button {
        font-size: 20px;
        height: 50px;
    }
} 

@media (min-width: 768px) and (max-width: 991.98px) { 

    #featured-movies{
        margin-top: 30px;
        font-size: 50px;
    }
    
    #now-playing{
        margin-top: 30px;
        font-size: 40px;
    }

    .movie-lists {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .movie-contents img{
        width: 100%;
        margin-top: 100px;
    }

    .movie-contents{
        margin-right: 20px;
        margin-left: 20px;
    }

    .movie-contents{
        line-height: 100px;
    }

    .movie-contents p {
        margin-top: 50px;
        margin-left: 30px;
    }

    .movie-title{
        font-size: 80px;
    }

    .movie-info{
        font-size: 50px;
    }

    .get-tickets button{
        font-size: 50px;
        padding: 20px 30px;
    }

    #icon-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 40px 0;
    }

    #icon-section ul li a{
        color: #fff;
        text-align: center;
        padding: 8px 10px;
        border: none;
        font-size: 120px;
    }

    #email-form input {
        border: 2px solid grey;
        border-radius: 50px;
        font-size: 35px;
        width: 700px;
        height: 100px;
    }

    #sub-button {
        font-size: 35px;
        height: 100px;
    }


}


